.provincie:hover {
    fill: rgb(226, 216, 121);
}
#barchart {
    position: relative;
}
.container {
    position: absolute;
    left: calc(50% - 330px);
    height: 400px;
    width: 100%;
}
#selection {
    display: flex;
    justify-content: center;
}